.pop-up {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;
}

.pop-up-ctx {
  height: 16.6rem;
  width: 100%;
  background-color: var(--light-navy);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
